
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.idea/
#Nuget packages folder
packages/
/__pycache__/main.cpython-313.pyc
/__pycache__/database.cpython-313.pyc
/alembic/__pycache__/env.cpython-313.pyc
/alembic/versions/__pycache__/3a6bb437e8eb_.cpython-313.pyc
/alembic/versions/__pycache__/708e6131e8b6_.cpython-313.pyc
/alembic/versions/__pycache__/734ffe0210d5_.cpython-313.pyc
/alembic/versions/__pycache__/8626c12a4103_.cpython-313.pyc
/alembic/versions/__pycache__/8e877d411c8b_.cpython-313.pyc
/alembic/versions/__pycache__/e042bf4db6c2_.cpython-313.pyc
/alembic/versions/8626c12a4103_.py
/alembic/versions/8e877d411c8b_.py
/models/__pycache__/author.cpython-313.pyc
/models/__pycache__/control.cpython-313.pyc
/models/__pycache__/user.cpython-313.pyc
/models/libary/__pycache__/book.cpython-313.pyc
/models/libary/__pycache__/genre.cpython-313.pyc
/models/libary/__pycache__/libary.cpython-313.pyc
/__pycache__/database.cpython-313.pyc
/alembic/__pycache__/env.cpython-313.pyc
/alembic/versions/__pycache__/3a6bb437e8eb_.cpython-313.pyc
/alembic/versions/__pycache__/708e6131e8b6_.cpython-313.pyc
/alembic/versions/__pycache__/e042bf4db6c2_.cpython-313.pyc
/__pycache__/database.cpython-313.pyc
/alembic/__pycache__/env.cpython-313.pyc
/alembic/versions/__pycache__/3a6bb437e8eb_.cpython-313.pyc
/alembic/versions/__pycache__/708e6131e8b6_.cpython-313.pyc
/alembic/versions/__pycache__/e042bf4db6c2_.cpython-313.pyc
/__pycache__/database.cpython-313.pyc
/alembic/__pycache__/env.cpython-313.pyc
/alembic/versions/__pycache__/3a6bb437e8eb_.cpython-313.pyc
/alembic/versions/__pycache__/708e6131e8b6_.cpython-313.pyc
/alembic/versions/__pycache__/e042bf4db6c2_.cpython-313.pyc
